<h1>Cryptographic Identity Potluck</h1>
{% if current_potlucks %}
    <ul>
      {% for potluck in current_potlucks %}
        <li><a href="{{ potluck.id }}/">{{ potluck.name }} [{{potluck.get_phase_display}}]</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Crypto Identity Potlucks are available.</p>
{% endif %}
